{% extends "base.html" %}

{% block content %}
<form>

    <div class="card text-white bg-dark mb-3">
        <div class="card-header"><h1>Create a Chirp: </h1> </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Title</span>
                </div>
                <input type="text" name="title" id="title" class="form-control" aria-describedby="basic-addon1" placeholder="Chirp Title" required/>
            </div>

            <div class="input-group">
                <span class="input-group-text">Body</span>
                <textarea name="body" id="body" class="form-control" aria-label="With textarea">
                </textarea>
            </div><br>
        </div>
    </div>

    <!-- OLD INPUT 
    <div class="row mb-3">
        <label for="title" class="col-2 col-form-label">Title</label>
        <div class="col-6">
            <input type="text" name="title" id="title" class="form-control" placeholder="Chirp Title" required/>
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-2 col-6">
            <textarea rows="8" cols="50" name="body" id="body"></textarea>
        </div>
    </div> -->
    {% block button %}{% endblock %}
</form>

<div>
    <br>
    <a class="btn btn-outline-primary" class="link-primary" href="{{ url_for('index') }}">Back</a>
</div>
{% endblock %}
